[submodule "hr_disciplinary"]
	path = hr_disciplinary
	url = git@github.com:xmarts/hr_disciplinary.git
	branch = main

[submodule "equipments"]
	path = equipments
	url = git@github.com:xmarts/equipments.git
	branch = main
